<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello, This is Home page</h1>
    <form action="https://www.google.com/search", method="GET" />
			<input type="text", name="q", placeholder="Title">
			<input type="submit", value="Search"><br>
    {{ title |add:" is the best" }} <br>
    {{ title |safe }} <br>
    {{ dict_1 }} <br>

    {% for i in my_list %} 
    {% if i == 3 %} 
    <p>Bu sayı 3 e eşit</p>
    {% else %}
    {{ i }} <br>
    {% endif %}
    {% endfor %}

</body>
</html>